@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

html {
  font-family: sans-serif;
  background: #2c3639;
}

body {
  margin: 0;
}

main {
  margin-top: 6rem;
}
